
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /packages/{packageId} {
      allow read: if isSignedIn() && resource.data.adminId == request.auth.uid;
      // This rule allows a user to list packages if the query includes a `where` clause
      // that filters by their own adminId. This secures the query.
      allow list: if isSignedIn() && request.query.filters.map(f => f.field.string() == 'adminId' && f.op == '==' && f.value == request.auth.uid).hasAny([true]);
      allow create: if isSignedIn() && request.resource.data.adminId == request.auth.uid;
      allow update, delete: if isSignedIn() && resource.data.adminId == request.auth.uid;
    }
    
    match /admins/{adminId} {
        allow read, write: if isSignedIn() && isOwner(adminId);
    }

    match /package_statuses/{packageStatusId} {
      allow read: if true;
      allow create, update, delete: if isSignedIn() && isAdmin();
    }
  }
}
